*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #a4b0be;
}

.encabezado > img{
    width: 80px;
}

.encabezado > nav{
    width: 75%;
    margin-left: -80px;
}

.encabezado > nav > .menu{
    display: flex;
}

.encabezado > nav > .menu > li{
    list-style: none;
    margin-right: 40px;
}

.encabezado > nav > .menu > li > a{
    text-decoration: none;
    font-size: 23px;
}

.encabezado > a > i{
    font-size: 30px;
}

/* Main */
.main > .anouncement{
    background: url('../assets/img/background.jpg');
    background-size: cover;
    height: 600px;
    /* background-repeat: no-repeat; */
}