<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./assets/img/Mommas_bakery_logo.png">
    <link rel="stylesheet" href="../css/bakerView.css">
    <title>Momma's Bakery | Pedidos & Insumos</title>
</head>

<body>

    <section>
        <header id="header">
            <img src="../assets/img/Mommas_bakery_logo_horizontal.png" width="200" height="86" />
            <span id="bread-crumb">
                <a>Pedidos</a>
                <i class="fa-solid fa-angle-right"></i>
                <a class="selected">Pendientes</a>
            </span>
        </header>
    </section>

    <section>
        <main id="main_content">
            <nav>
                <ul id="orders_menu">
                    <li id="title"><i class="fa-solid fa-rectangle-list"></i> Pedidos</li>
                    <li class="selected">Pendientes</li>
                    <li><a href="baker_View_ordersProcessed.html">En proceso</</a> </li> 
                    <li><a href="baker_View_ordersPending.html">Por entregar</a></li>
                    <li><a href="baker_View_ordersDelivered.html">Entregados</a>
                    <li>
                </ul>

                <ul id="admin_menu">
                    <li><i class="fa-solid fa-cake-candles"></i>Insumos</li>
                    <li><i class="fa-solid fa-people-group"></i>Personal</li>
                    <li><i class="fa-solid fa-user"></i>Cuenta</li>
                    <li><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="login.html">Cerrar sesión</a></li>
                </ul>
            </nav>

            <section id="dashboard">

                <table id="orders">
                    <thead>
                        <tr class="row">
                            <th># Pedido - Nombre <button><i class="fa-solid fa-caret-up"></i></button></th>
                            <th># Personas</th>
                            <th>¿Pedidos a domicilio?</th>
                            <th>Detalles pedido</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="row">
                            <td>1092812 - Giacomo Guilizzoni</td>
                            <td>20</td>
                            <td><input type="checkbox" name="checked" id=""></td>
                            <td><a href="orderDetail.html">Ver pedido</a></td>
                            <td><b>$800.00</b></td>
                        </tr>
                        <tr class="row">
                            <td>1102354 - Marco Botton</td>
                            <td>10</td>
                            <td><input type="checkbox" name="checked" id=""></td>
                            <td><a>Ver pedido</a></td>
                            <td><b>$700.00</b></td>
                        </tr>
                        <tr class="row">
                            <td>1209876 - Mariah Maclachlan</td>
                            <td>15</td>
                            <td><input type="checkbox" name="checked" id=""></td>
                            <td><a>Ver pedido</a></td>
                            <td><b>$700.00</b></td>
                        </tr>
                        <tr class="row">
                            <td>1345092 - Valerie Liberty</td>
                            <td>30</td>
                            <td><input type="checkbox" name="checked" id=""></td>
                            <td><a>Ver pedido</a></td>
                            <td><b>$1200.00</b></td>
                        </tr>
                    </tbody>
                </table>

                <h3>Insumos (medidas en porciones)</h3>
                <div id="supplies">

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Chocolate</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Naranja</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Menta</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Plátano</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Espuma de Nutella</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Espuma de leche</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Crema de frutos rojos</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Crema de cacahuate</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Milky way</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Adornos 3D</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Adornos geométricos</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Adornos florales</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Naked</small>
                    </div>

                    <div class="supply">
                        <i class="fa-solid fa-cookie"></i>
                        <input type="number" id="inp_quantity" min="0" max="200" value="200">
                        <small>Drip cakes</small>
                    </div>
                </div>
            </section>
        </main>

        <section>
            <footer id="footer">
                <p>Mama's Bakery, 2022. Todos los derechos reservados.</p>
            </footer>
        </section>
    </section>

    <script src="https://kit.fontawesome.com/7f3d479cce.js" crossorigin="anonymous"></script>
</body>

</html>