<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/Mommas_bakery_logo.png">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Momma's Bakery | Inicia sesión</title>
</head>
<body>
    <section>
        <header class="encabezado">
            <img src="../assets/img/Mommas_bakery_logo.png" alt="logo-pasteleria" />
            <nav>
                <ul class="menu">
                    <li><a href="">Menú</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
            <a href="./views/login.html"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
        </header>
    </section>

    <section>
        <main>
            <form action="baker_View.html">
                <h1>Login</h1>
                <input type="text" name="inp_user" placeholder="Nombre de usuario">
                <input type="password" name="inp_pass" placeholder="Contraseña">
                <input type="submit" value="Iniciar sesión">
            </form>
        </main>
    </section>

    <section>
        <footer>
            <p>Mama's Bakery, 2022. Todos los derechos reservados.</p>
        </footer>
    </section>

    <script src="https://kit.fontawesome.com/7f3d479cce.js" crossorigin="anonymous"></script>
</body>
</html>