<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../assets/img/Mommas_bakery_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bakerView.css">
    <title>Momma's Bakery | Order Detail</title>
</head>

<body>
    <div id="container">
        <section>
            <i class="fa-solid fa-cake-candles"></i>
            <div class="data_order_details">
                <h1>Pedido #1092812</h1>
                <small>Giacomo Guilizzani</small>
                <p><b>Tel:</b> 5512094500 <span><b>Email: </b> useremail@correo.com</span></p>
            </div>
        </section>
        <section>
            <i class="fa-solid fa-circle-info"></i>
            <div class="data_order_details">
                <h2>Detalles del producto</h2>
                <small>Para 20 personas</small>
                <p class="subtitle">Descripción</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptatum laudantium architecto animi
                    odit, cumque sapiente distinctio, voluptas laboriosam officia blanditiis eius repellendus, dolorem
                    similique dolores repellat porro laborum doloremque.
                </p>
                <p class="subtitle">Características</p>
                <div id="features">
                    <small>Sabor del pan: <b>Chocolate</b></small>
                    <small>Relleno: <b>Espuma de Nutella</b></small>
                    <small>Decoración: <b>Adornos 3D</b></small>
                    <small>Color: <input type="color" name="" id=""></small>
                </div>
            </div>
        </section>
        <section>
            <i class="fa-solid fa-location-dot"></i>
            <div class="data_order_details">
                <h2>Entrega</h2>
                <p class="subtitle">Dirección</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, libero maxime. Ea odit deserunt placeat
                    repellendus numquam laboriosam, voluptates neque ab qui labore quam unde voluptatem hic praesentium
                    iure ex.
                </p>
                <p class="subtitle">Referencias</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, libero maxime. Ea odit deserunt placeat
                    repellendus numquam laboriosam, voluptates neque ab qui labore quam unde voluptatem hic praesentium
                    iure ex.
                </p>

                <section id="date_details">
                    <div>
                        <p class="subtitle">Fecha de entrega</p>
                        <small>30/04/2022</small>
                    </div>
                    <div>
                        <p class="subtitle">Hora</p>
                        <small>17:30</small>
                    </div>
                </section>                
                
                <p id="total_payment" class="subtitle">Total: <span id="price">$700.00</span></p>
    
                <button id="proccess_order">Procesar pedido</button>
            </div>


        </section>
    </div>

    <script src="https://kit.fontawesome.com/7f3d479cce.js" crossorigin="anonymous"></script>
</body>

</html>